#ignore thumbnails created by windows
Thumbs.db

#vim
.*.sw?
*~
*.bak

#binary
_build/*

#gcc
*.o
*.hex
*.out
*.bin
*.lst
*.sct

#jlink & error
JLinkLog.txt
*.dep
*.d
*.crf
*.build_log.htm
*.tdwebste
*.axf
*.lnp
*.map
_build
*.uvgui.*
*.uvopt
*.ini
